h1{
    color: rgba(31, 31, 221, 0.685);
    font-size: 50px;
}
h2{
    color: #46484c;    
}
p{
    color: #8b8b8bcc;    
}
button{
    color: #fff;
    background-color: crimson;
}
body{
    /*background-color:dimgray;*/
    margin-top: 100px;
}
.header {
    /*background-color: darkgoldenrod;*/
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
}

li{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 45px;
    line-height: 45px;
}

.logo{
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: center;    
    color: #025157;
    font-weight: 500;        
}

.actions{
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .actions a {
    color: #67b54b;
  }

.h1{
    margin: 40px 20px 0 20px;
}
.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  }
  .promo {    
    display:flex;
    width:90%;
    margin:100px;
    align-items: auto;
  }
  .publish {    
    display:flex;
  }
  
  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }

  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  
  .explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }

  .fixed-header{
      position: fixed;
      background-color: white;
      top:0;
      left:0;
      right:0;      
      margin: 0;
  }
  .info{
    background-color: cornsilk;
  }

  .features{
    display:grid;
    /*
    grid-template-columns:300px 300px;
    grid-template-columns: repeat(2,300px);
    grid-template-columns: 500px 1fr;
    */
    /*grid-template-columns: 1fr 1fr;*/
    grid-template: repeat(2, 1fr) / repeat(2, 330px);
  }

  .feature-art{
    background-color: lightcyan;
    margin: 10px;
    width:40%;
    height: 50px;
  }

  /** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  /*body{
    background-color: coral;
  }*/
  .navbar,
  .actions{
    display: none;
  }
  h1{
    font-size: 30px;
    margin-top: 50px;
  }
  .publish > form {
    flex-direction: column;
  }

  .publish > form > div {
    height: 50px;
    margin-top: 10px;
  }

  .publish > form > div > input {
    width: 65%;
  }
  .promo{
    flex-direction: column;
    max-width: 90%;
  }
  .explanatory-video > video{
    width: 100%;
  }
  .publish {
    margin-top: 10px;
  }
  .publish > h3{
    font-size: 25px;
    line-height: 1.2;
  }
  /*main{
    
  }*/
}
/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
}
/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
}
/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}
/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
}