h1{
    color: rgba(31, 31, 221, 0.685);
    font-size: 25px;
}
h2{
    color: #46484c;    
}
p{
    color: #8b8b8bcc;    
}
button{
    color: #fff;
    background-color: crimson;
}
body{
    background-color:darkgrey;
}
.header {
    /*background-color: darkgoldenrod;*/
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
}

li{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 45px;
    line-height: 45px;
}

.logo{
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: center;    
    color: #025157;
    font-weight: 500;        
}

.actions{
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .actions a {
    color: #67b54b;
  }

.h1{
    margin: 40px 20px 0 20px;
}
.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  }